mixin program (pages, className, pdf_icon)
    <!-- begin program -->
    each page in pages
        div(class=className+'__title')
            p= page.code
            p= page.program
        div(class=className+'__content')
            each subPage in  page.profile
                ul(class=className+'__list')
                    li= subPage.profile_title
                    li= subPage.department
                    li= +subPage.tuition_fee
                    li= +subPage.form_of_training+' '+subPage.period
                    li
                        a(href=subPage.curriculum_link target="_blank")= pdf_icon
    <!-- end program -->