mixin section(sectionData)
    if (sectionData.indextitle)
        .section
            h2.section__indextitle= sectionData.indextitle
            .section__description
            block
    else if (sectionData.title)
        .section
            h2.section__title= sectionData.title
            .section__description
            block
    else
        if (sectionData.src)
            img.section__img(src=sectionData.src, alt=sectionData.alt)
            block
        else
            block
            p.section__text=sectionData.text
                if (sectionData.textBold, sectionData.textRegular)
                    span.section__text--bold=sectionData.textBold
                    span.section__text--regular=sectionData.textRegular
                    block
                else
                    span.section__text--regular=sectionData.textRegular
                    block

