mixin menu (pages, className)
    <!-- begin menu -->
    menu(class=className)
        ul(class=className+'__list')
            each page in pages
                li(class=className+'__item')
                    a(class=className+'__link' href= page.url)= page.title
                    if page.submenu.length > 0
                        ul(class=className+'__dropdown-list')
                            each subPage in  page.submenu
                                li(class=className+'__dropdown-item')
                                    a(class=className+'__dropdown-link' href= subPage.url)= subPage.title
    <!-- end menu -->