naw.menu
    ul.js-menu-button
        -
            let menu = [
                {url: '#about', text: 'About TSTU'},
                {url: '#mission', text: 'Mission & Vission'},
                {url: '#history', text: 'History'},
                {url: '#rector', text: 'Rector'}
            ]
        -let isPage = 1;
        each el,i in menu
            if isPage === i
                li.menu-list-element.is-active
                    a(href=el.url, class='menu-list-element-a') #{el.text}  #{el.text}
            else
                li.menu-list-element
                    a(href=el.url, class='menu-list-element-a') #{el.text}