extends ../layout/layout-test
block variables
    - var description = 'Mission and vision of Tambov State Technical University - Tambov State Technical University'
    - var title = 'Mission and vision Tambov State Technical University'
    - var pageClass = 'test-page'

block content
    h1 Layout Test
    -let text = 'text';
    -let urlCampus = '../assets/images/TSTU_Campus_G.jpg';
    -let style = 'width: 50px';
    h2 Цикл For
    -for(let i = 0; i < 2; i++)
        li #{text}, N - #{i}
            img(src=urlCampus, style=style, alt=alt)
    h2 Цикл While
    -let i = 0;
    while i < 4
        li #{text}, N - #{i++}
            img(src=url, style=style, alt=alt)
    h2 Цикл, который выводит элементы массива
    -let arr = ['1q','2q','3q','4q','5q','6q']
    each el,i in arr
        li() #{el} N - #{i}
    h2 Цикл для вывода массива объектов (например,  меню сайта)
    ul
        -
            let menu = [
                {url: '#about', text: 'About TSTU'},
                {url: '#mission', text: 'Mission & Vission'},
                {url: '#history', text: 'History'},
                {url: '#rector', text: 'Rector'}
            ];
        each el in menu
            li
                a(href=el.url) #{el.text}
    h2 Вывод массива объектов (например,  меню сайта)
    include ./test-menu.pug

    h2 Input - основы ввода данных
    input(type="text" class="input-in")
    button(class="button-go") Go

    h2 Responsive menu
    nav.test-nav
        ul.test-nav__list
            li.test-nav__item
                a(href="#about" class="test-nav__link test-nav__link--active") About
                ul.test-nav__dropdown-list
                    li(class="test-nav__dropdown-item")
                        a(href="#mission" class="test-nav__dropdown-link") Mission
                    li(class="test-nav__dropdown-item")
                        a(href="#history" class="test-nav__dropdown-link") History
                    li(class="test-nav__dropdown-item")
                        a(href="#rector" class="test-nav__dropdown-link") Rector
                    li(class="test-nav__dropdown-item")
                        a(href="#administration" class="test-nav__dropdown-link") Administration
            li.test-nav__item
                a(href="#institutes" class="test-nav__link") Institutes & Faculties
                ul.test-nav__dropdown-list
                    li(class="test-nav__dropdown-item")
                        a(href="#institute0" class="test-nav__dropdown-link") institute0
                    li(class="test-nav__dropdown-item")
                        a(href="#institute1" class="test-nav__dropdown-link") institute1
                    li(class="test-nav__dropdown-item")
                        a(href="#institute2" class="test-nav__dropdown-link") institute2
                    li(class="test-nav__dropdown-item")
                        a(href="institute3" class="test-nav__dropdown-link") institute3
            li.test-nav__item
                a(href="#institutes" class="test-nav__link") TSTU International
                ul.test-nav__dropdown-list
                    li(class="test-nav__dropdown-item")
                        a(href="#institute0" class="test-nav__dropdown-link") Joint Projects
                    li(class="test-nav__dropdown-item")
                        a(href="#institute1" class="test-nav__dropdown-link") Diploma Supplement
                    li(class="test-nav__dropdown-item")
                        a(href="#institute2" class="test-nav__dropdown-link") International Renkings

    h2 PUG - Glo Academy - Урок 2 — Теги, атрибуты и переменные

    -   let urlImg = '../assets/images/mission-tstu.jpg';
    -   let styleImg = 'width: 350px';
    -   let textImg = 'text123';
    ul
        li
            p #{textImg}
            img(src=urlImg, style=styleImg, alt="")
        li
            p Lorem
            img(src=urlImg, style=styleImg, alt="")
        li
            p Lorem
            img(src=urlImg, style=styleImg, alt="")

    h2 PUG - Glo Academy - Урок 3 — Циклы и массивы
    //- Переопределяем переменные urlImg, styleImg,textImg, которые мы использовали выше
    -   urlImg = '../assets/images/about-tstu.jpg';
    -   styleImg = 'width: 150px';
    -   textImg = 'About';

    h3 Цикл for
    ul
    -   for(let i = 0; i < 5; i++)
            li
                p #{textImg}, ipsum, N - #{i}
                img(src=urlImg, style=styleImg, alt="")
    h3 Цикл while
    //- Оставляем неизменными переменные styleImg и textImg
    //- Переопределяем переменную urlImg, которая есть выше
    -   urlImg = '../assets/images/rector-tstu.jpg';
    //- Создадим переменную счетчика i
    -   i = 0;
    ul
        while i < 3
            li
                //-Чтобы цикл не оказался бесконечным, создадим инкремент i++
                p #{textImg}, ipsum, N - #{i++}
                img(src=urlImg, style=styleImg, alt="")

    h3 Цикл, который выводит элементы массива
    ul
        -   let arr1 = ['1text', '2text', '3text'];
        each el,i in arr1
            //-итератор будем использовать со стилями, чтобы шрифт каждого элемента был в 10 раз больше предыдущего
            li(style="font-size: "+(i+1)*10+"px") #{el} N - #{i}
    h3 Цикл, который выводит массив объектов, например меню сайта
    ul
        -
            let menuGlo1 = [
                {url:"/", text: "Главная", style: "menu__link"},
                {url:"/", text: "Страница1", style: "menu__link"},
                {url:"/", text: "Страница2", style: "menu__link"},
                {url:"/", text: "Страница3", style: "menu__link"},
                {url:"/", text: "Страница4", style: "menu__link"}
            ]
        each el in menuGlo1
            li
                a(href=el.url, style=el.style) #{el.text}
    h2 PUG - Glo Academy - Урок 4 — Операторы ветвления и инклюды
    include ../../blocks/menuGlo/menuGlo
    include ../../blocks/caseWhen/caseWhen
    h2 PUG - Glo Academy - Урок 5 — Шаблоны и миксины
    .menuGlo
    ul.menuGlo__list.js-menuGlo-button
        -
            let menuGlo1 = [
                {url:"#test.html", text: "Тест", class: "menuGlo__link"},
                {url:"#about.html", text: "Страница1", class: "menuGlo__link"},
                {url:"#institutes", text: "Страница2", class: "menuGlo__link"},
                {url:"#international", text: "Страница3", class: "menuGlo__link"},
                {url:"#life", text: "Страница4", class: "menuGlo__link"}
            ]
        -   let isPageGlo1 = 3;
        each el,i in menuGlo1
            if isPageGlo1 === i
                +menuGloItems("is-active", el)
            else
                +menuGloItems("", el)