mixin instituteInfo (cards, className)
    <!-- begin card -->
    div(class=className)
        each card in cards
            if(card.info === pageClass)
                img(class= className+'__img' src= card.img)
                div(class= className+'__info')
                    p(class= className+'__title')= card.name
                        br
                        span= card.subinfo
                    p= card.position1
                        br
                        span= card.position2
                div(class= className+'__contacts')
                    p= card.tel
                    p= card.fax
                    p= card.mail
                    p= card.address
    <!-- end card -->